h2{
    font-size: large;
    font-style: italic;
    font-weight: normal;
}
/*LES CLASSSES*/
.paragraphe_1{
    color: pink;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;

}
.paragraphe_2{
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
}
/* LES ID */
#paragraphe_3{
    color: green;
    font-size: 30px;
    font-style: oblique;
    font-weight: inherit;
}
